*{
  /* background-color: black; */
  /* color: white; */
}

@font-face {
  font-family: "Gidole";
  src: url("./assets/fonts/Gidole-Regular.otf");
}

@font-face {
  font-family: "Isidora";
  src: url("./assets/fonts/Isidora-Regular.otf");
}

body{
      background-color: #1b1b1b;
      font-family: Isidora;
}